# EDA_0 Data Frame explore

In [ ]:
import numpy as np
import pandas as pd

input_file_path = "C:/Users/user/Desktop/......../teleprompter_hashed_fixed.csv"
        
telprom = pd.read_csv(input_file_path, sep=";")

In [4]:
telprom.head()

,event,event_time,distinct_id,os_version,country_code
0,Homescreen,1738465957,$device:user_60299947607494,18.1.1,RU
1,Player_screen,1738465957,$device:user_60299947607494,18.1.1,RU
2,updateScript,1738465958,$device:user_60299947607494,18.1.1,RU
3,Homescreen,1738465959,$device:user_60299947607494,18.1.1,RU
4,$ae_session,1738465960,$device:user_60299947607494,18.1.1,RU

In [6]:
telprom.describe()

         event_time
count  2.854549e+07
mean   1.738523e+09
std    1.442741e+06
min    1.735690e+09
25%    1.737330e+09
50%    1.738645e+09
75%    1.739813e+09
max    1.740787e+09

In [4]:
telprom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28545487 entries, 0 to 28545486
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   event         object
 1   event_time    int64
 2   distinct_id   object
 3   os_version    object
 4   country_code  object
dtypes: int64(1), object(4)
memory usage: 1.1+ GB

## Converted the date format and remove of the unnecessary prefixes

In [9]:
# Converted the "event_time" column to the date format.
import numpy as np
import pandas as pd

input_file_path = "C:/Users/user/Desktop/....../teleprompter_hashed.csv"
        
telprom = pd.read_csv(input_file_path, sep=";")

# Convert Unix timestamp to date (UTC timezone)
telprom["event_time"] = pd.to_datetime(telprom["event_time"], unit="s")

# If you only need the date (without time)
telprom["event_time"] = telprom["event_time"].dt.strftime("%Y.%m.%d")

# Verify
print(telprom.head())

                                               event  event_time  \
0                                          app_close  2025.02.16
1                                           app_open  2025.02.16
2  PlayerViewController.startStopScrollingAction(...  2025.02.16
3  PlayerViewController.startStopScrollingAction(...  2025.02.16
4  PlayerViewController.startStopScrollingAction(...  2025.02.16

                   distinct_id os_version country_code
0  $device:user_03108709407604    unknown      unknown
1  $device:user_03108709407604    unknown      unknown
2  $device:user_03108709407604    unknown      unknown
3  $device:user_03108709407604    unknown      unknown
4  $device:user_03108709407604    unknown      unknown

In [10]:
telprom.head()

,event,event_time,distinct_id,os_version,country_code
0,app_close,2025.02.16,$device:user_03108709407604,unknown,unknown
1,app_open,2025.02.16,$device:user_03108709407604,unknown,unknown
2,PlayerViewController.startStopScrollingAction(...,2025.02.16,$device:user_03108709407604,unknown,unknown
3,PlayerViewController.startStopScrollingAction(...,2025.02.16,$device:user_03108709407604,unknown,unknown
4,PlayerViewController.startStopScrollingAction(...,2025.02.16,$device:user_03108709407604,unknown,unknown

In [11]:
# Remove of the column prefix at the "distinct_id" 
telprom["distinct_id"] = telprom["distinct_id"].str.replace(r"^\$device:user_", "", regex=True)

# Verify
print(telprom[["distinct_id"]].head())

      distinct_id
0  03108709407604
1  03108709407604
2  03108709407604
3  03108709407604
4  03108709407604

In [12]:
telprom.head(100)

,event,event_time,distinct_id,os_version,country_code
0,app_close,2025.02.16,03108709407604,unknown,unknown
1,app_open,2025.02.16,03108709407604,unknown,unknown
2,PlayerViewController.startStopScrollingAction(...,2025.02.16,03108709407604,unknown,unknown
3,PlayerViewController.startStopScrollingAction(...,2025.02.16,03108709407604,unknown,unknown
4,PlayerViewController.startStopScrollingAction(...,2025.02.16,03108709407604,unknown,unknown
...,...,...,...,...,...
95,secondOrMoreOpening,2025.02.16,39510051520252,unknown,unknown
96,showPaywallOnSecondAppOpen,2025.02.16,39510051520252,unknown,unknown
97,Homescreen,2025.02.16,39510051520252,unknown,unknown
98,config_attributes,2025.02.16,39510051520252,unknown,unknown
99,app_close,2025.02.16,39510051520252,unknown,unknown

In [13]:
telprom.describe()

            event  event_time          distinct_id os_version country_code
count    28545487    28545487             28545487   28545487     28545211
unique        751          59               191777        120          288
top     app_close  2025.02.19  user_17139772890770    unknown      unknown
freq      2432692      697795                37746   12667578     18979131

In [15]:
# Remove of the column prefix at the "distinct_id" 
telprom["distinct_id"] = telprom["distinct_id"].str.replace(r"^user_", "", regex=True)

# Verify
print(telprom[["distinct_id"]].head())

      distinct_id
0  03108709407604
1  03108709407604
2  03108709407604
3  03108709407604
4  03108709407604

In [19]:
telprom.describe()

            event  event_time     distinct_id os_version country_code
count    28545487    28545487        28545487   28545487     28545211
unique        751          59          191777        120          288
top     app_close  2025.02.19  17139772890770    unknown      unknown
freq      2432692      697795           37746   12667578     18979131

In [16]:
# Remove of the column prefix at the "distinct_id" 
telprom["distinct_id"] = telprom["distinct_id"].str.replace(r"^\$RCAnonymousID:", "", regex=True)

# Verify
print(telprom[["distinct_id"]].head())

      distinct_id
0  03108709407604
1  03108709407604
2  03108709407604
3  03108709407604
4  03108709407604

In [17]:
telprom.describe()

            event  event_time     distinct_id os_version country_code
count    28545487    28545487        28545487   28545487     28545211
unique        751          59          191777        120          288
top     app_close  2025.02.19  17139772890770    unknown      unknown
freq      2432692      697795           37746   12667578     18979131

In [ ]:
import os # Necessary, If it wasn't imported at the beginning.

events_to_keep = [
    "billing_issue_event", "cancellation_event", "expiration_event",
    "initial_purchase_event", "product_change_event", "renewal_event",
    "trial_cancelled_event", "trial_converted_event", "trial_started_event",
    "uncancellation_event"
]

output_directory = "C:/Users/user/Desktop/......./"

# Ensure that the folder exists
os.makedirs(output_directory, exist_ok=True)

# Filter by events and save to file
for event in events_to_keep:
    df_filtered = telprom[telprom["event"] == event]  # Filter for a specific event
    output_path = os.path.join(output_directory, f"{event}.csv")  # Path setting
    df_filtered.to_csv(output_path, index=False)  # Save to CSV
    print(f"Saved: {output_path}")

print("✅ All files are complete and saved!")

In [1]:
# Removed prefix for the "distinct_id" in the "fixed_v2" csv.:
import numpy as np
import pandas as pd

input_file_path = "C:/Users/user/Desktop/........./teleprompter_hashed_fixed_v2.csv"
        
telprom = pd.read_csv(input_file_path, sep=";")

In [2]:
telprom.head()

,event,event_date,event_time,distinct_id,os_version,country_code,event_datetime
0,Homescreen,2025.02.02,03:12:37,$device:user_60299947607494,18.1.1,RU,2025.02.02. 03:12:37
1,Player_screen,2025.02.02,03:12:37,$device:user_60299947607494,18.1.1,RU,2025.02.02. 03:12:37
2,updateScript,2025.02.02,03:12:38,$device:user_60299947607494,18.1.1,RU,2025.02.02. 03:12:38
3,Homescreen,2025.02.02,03:12:39,$device:user_60299947607494,18.1.1,RU,2025.02.02. 03:12:39
4,$ae_session,2025.02.02,03:12:40,$device:user_60299947607494,18.1.1,RU,2025.02.02. 03:12:40

In [ ]:
# Removed prefix for the "distinct_id"
telprom["distinct_id"] = telprom["distinct_id"].str.replace(r"^\$device:user_", "", regex=True)

# Verify
print(telprom[["distinct_id"]].head())