# EDA_1 - Explore of a 28.000.000 lines dataset

In [ ]:
import numpy as np
import pandas as pd

input_file_path = "C:/Users/user/Desktop/......../teleprompter_hashed_fixed.csv"
        
telprom = pd.read_csv(input_file_path, sep=";")

In [4]:
telprom.head()

,event,event_time,distinct_id,os_version,country_code
0,Homescreen,1738465957,$device:user_60299947607494,18.1.1,RU
1,Player_screen,1738465957,$device:user_60299947607494,18.1.1,RU
2,updateScript,1738465958,$device:user_60299947607494,18.1.1,RU
3,Homescreen,1738465959,$device:user_60299947607494,18.1.1,RU
4,$ae_session,1738465960,$device:user_60299947607494,18.1.1,RU

In [6]:
telprom.describe()

         event_time
count  2.854549e+07
mean   1.738523e+09
std    1.442741e+06
min    1.735690e+09
25%    1.737330e+09
50%    1.738645e+09
75%    1.739813e+09
max    1.740787e+09

In [4]:
telprom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28545487 entries, 0 to 28545486
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   event         object
 1   event_time    int64
 2   distinct_id   object
 3   os_version    object
 4   country_code  object
dtypes: int64(1), object(4)
memory usage: 1.1+ GB